/* Site Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --primary-color: #ededed;
    --secondary-color: #777;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    background: #110E0E;
    color: var(--primary-color);
}

figcaption {
    font-size: 0.9em;
    color: var(--secondary-color);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Utility Classes*/

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    /* border: 1px solid turquoise; */
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Navbar */

.logo {
    position: relative;
    top: 4px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    letter-spacing: -0.3px;
    font-size: 1em;
}

nav a:hover {
    color: var(--secondary-color);
}

i {
    color: var(--secondary-color);
    margin: 0 0 0 4px;
    font-size: 20px;
    position: relative;
    top: 3px;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
    z-index: 1000;
    transition: background 0.3s ease, backdrop-filter 0.3s ease, padding 0.3s ease;
}

.main-nav.scrolled {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    padding: 24px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.main-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav .main-menu ul {
    display: flex;
}

.main-nav .main-menu ul li a {
    padding-left: 48px;
    display: block;
}


/* Intro Section */

.section-padding {
    padding: 120px 0 80px 0;
}

.recent-works-padding {
    padding-top: 120px;
}

section .intro-wrap {
    max-width: 520px;
    font-size: 1.5em;
    letter-spacing: -0.3px;
    margin-left: 24px;
    color: var(--secondary-color);
}

.highlight {
    color: var(--primary-color);
}

.img-holder {
    max-width: 56px;
}

.img-holder img {
    max-width: 100%;
    height: auto;
    display: block;
}

section .img-holder img {
    border-radius: 50%;
    margin-top: 8px;
    object-fit: cover;
}

section .container {
    display: flex;
}

/* Work Section */

.work-header {
    display: flex;
    align-items: center;
    gap: 32px;
}

.work-text {
    white-space: nowrap;
    font-size: 1em;
}

.hr-container {
    flex-grow: 1;
}

.hr-container hr {
    width: 100%;
    border: none;
    border-top: 0.5px solid var(--secondary-color);
}

.work-type {
    color: var(--secondary-color);
    margin-bottom: 8px;
}

.work-desc {
    font-size: 1.6em;
    padding-bottom: 0.6em;
    padding-right: 4em;
}

.work-explore {
    font-size: 0.9em;
    text-decoration: none;
    color: var(--secondary-color);
}

a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.work-explore::before,
.work-explore::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

.work-explore::before {
    background-color: var(--primary-color);
    height: 1px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.work-explore::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.work-explore:hover {
    color: var(--primary-color);
}

.work-explore:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.work-explore:hover::after {
    transform: translate3d(0, 0, 0);
}

.work-explore span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.work-explore:hover span {
    transform: translate3d(-200%, 0, 0);
}

.explore {
    color: var(--primary-color) !important;
}

.img-project {
    overflow: hidden;
}

.img-project img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.img-project:hover img {
    transform: scale(1.05);
}

/* Outro Section */

.outro-padding {
    padding: 16em 0 6em 0;
}

.outroName {
    font-size: 5em;
    color: var(--secondary-color);
    letter-spacing: -1px;
    font-weight: 200;
}

.outro p {
    color: var(--secondary-color);
    line-height: 1.4;
    padding-right: 2em;
}

/* Footer Section */

footer {
    color: var(--secondary-color);
    font-weight: 300;
}

footer a {
    text-decoration: none;
}

footer a i {
    font-size: 1.2em;
}

footer i:hover {
    color: var(--primary-color);
}

.footer-padding {
    padding: 80px 0 3em 0;
}

.icon-space {
    margin-right: 0.5em;
}

.icon-social {
    grid-column-start: right;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Project Pages */

.project-title {
    font-size: 2em;
    padding-bottom: 0.2em;
    margin-top: 1em;
}

.project-desc {
    color: var(--secondary-color);
    margin-bottom: 2em;
    width: 40%;
}

.intro-works-padding {
    padding-top: 120px;
}

.solo-works-padding {
    padding: 80px 0;
}

.project-intro {
    padding-right: 5em;
}

.project-intro-right {
    padding-left: 5em;
}

.project-heading {
    font-size: 1.6em;
    margin: 0.5em 0;
}

.project-text {
    color: var(--secondary-color);
}

.project-img01 {
    overflow: hidden;
}

.project-img01 img {
    width: 100%;
}

.project-img02 {
    overflow: hidden;
}

.project-img02 img {
    width: 100%;
}

.project-center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.links {
    text-decoration: none;
    color: var(--primary-color);
    display: inline;
}

.links::before,
.links::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

.links::before {
    background-color: var(--primary-color);
    height: 1px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.links::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.links:hover {
    color: var(--primary-color);
}

.links:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.links:hover::after {
    transform: translate3d(0, 0, 0);
}

.links span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.links:hover span {
    transform: translate3d(-200%, 0, 0);
}

.links-active {
    color: var(--primary-color) !important;
}

.explore-align {
    color: var(--primary-color) !important;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Media Queries */

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .logo {
        font-size: 0.8em;
        position: relative;
        top: 3px;
    }

    .main-nav i {
        position: relative;
        left: -3px;
    }

    a {
        font-size: 0.8em;
    }

    .work-desc {
        padding-right: 0.5em;
    }

    .main-nav .main-menu ul li a {
        padding-left: 0.4em;
        font-size: 0.8em;
    }

    i {
        font-size: 1.2em;
        position: relative;
        top: 2 px;
    }

    section .intro-wrap {
        font-size: 1em;
        font-weight: 400;
    }

    .recent-works-padding {
        padding-top: 80px;
    }

    .work-text {
        font-size: 0.8em;
    }

    .work-type,
    .work-explore,
    .project-desc {
        font-size: 0.8em;
    }

    .work-desc,
    .project-title {
        font-size: 1.2em;
        padding-right: 1.2em;
    }

    .outro-padding {
        padding: 6em 0 1em 0;
    }

    .outroName {
        font-size: 3em;
    }

    .outro {
        padding-top: 1em;
        font-size: 0.8em;
    }

    .outro p {
        padding-right: 0.7em;
        font-weight: 300;
    }

    footer {
        font-size: 0.8em;
    }

    .icon-social {
        font-size: 1.5em;
    }

    .project-title {
        margin-top: -0.5em;
    }

    /* Works Page */

    .project-heading {
        font-size: 1.2em;
    }

    .project-desc {
        color: var(--secondary-color);
        margin-bottom: 2em;
        width: 91%;
    }

    figcaption {
        font-size: 0.8em;
    }

    .project-text {
        font-size: 0.8em;
        padding-right: 1.6em;
    }

    .project-intro {
        padding-right: 0;
    }

    .project-intro-right {
        padding-left: 0;
    }

    .project-center {
        width: auto;
    }

    .solo-works-padding {
        padding: 10px 0;
    }

    .links {
        font-size: 1em;
    }

    .explore-align {
        top: 2px;
        left: -2px;
    }

}